<ul class="pager">
	<li class="previous"><a href="#" id="btnBack">&larr; <label>${userManagement.back}</label></a></li>
</ul>

<h3>${userManagement.title}</h3>

<div class="alert alert-info" id="accountInfo">
	<strong>${userManagement.userFromAccount}</strong>
</div>

<nav class="navbar navbar-default" role="navigation">
	<div class="nav navbar-nav navbar-right margin10">
		<button type="button" id="btnNewUser" class="btn btn-success">${user.form.newUser}</button>
	</div>
</nav>
<div id="gridContainer"></div>

