<div class="page page-dashboard row" data-ng-controller="DashboardCtrl">
	 <div class="col-xs-4 col-sm-3">
		<div>
			<img src="images/g1.jpg" alt="" height="auto" width="100%">
		</div>
		<div class="list-group">
			<a href="#" class="list-group-item moduleMenu" id="profileTab" data-module="userProfileSelfManagement">Meu Perfil</a> 
			<a href="#" class="list-group-item moduleMenu" id="changePasswordTab" data-module="userChangePassword">Mudar a Senha</a>
			<a href="#" class="list-group-item">Notificações</a>
			<a href="#" class="list-group-item">Histórico de Atividades</a>
		</div>
	</div>
	<div class="col-md-8">
		<h4>Aqui é um título de alguma coisa selecionada</h4>
		
		<label>Aqui vai o conteúdo de alguma coisa</label>
	</div>
</div>
