<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
	<div class="row">
		<div class="col-md-6">
			<section class="panel panel-default">
				<div class="panel-heading">Agenda do Dia</div>
				<div class="panel-body">
					<section class="panel panel-box">
						<div class="panel-bottom bg-reverse">
							<table class="table">
								<thead>
									<tr>
										<th>Paciente</th>
										<th>Descrição</th>
										<th>Horário</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>João da Silva</td>
										<td>Primeira Consulta</td>
										<td>01/10/2014 13:00 14:00</td>
									</tr>

									<tr>
										<td>Pedro Cabral</td>
										<td>Revisão de Peso</td>
										<td>01/10/2014 14:00 15:00</td>
									</tr>
									
									<tr>
										<td>Anita Garibaldi</td>
										<td>Consulta Normal</td>
										<td>01/10/2014 15:00 16:00</td>
									</tr>

								</tbody>
							</table>
						</div>
					</section>
				</div>
			</section>
		</div>

		<div class="col-md-6">
			<section class="panel panel-default">
				<div class="panel-heading">Financeiro</div>
				<div class="panel-body">
					<section class="panel panel-box">
						<div id="reportFinancial"></div>
					</section>
				</div>
			</section>
		</div>
	</div>
</div>
