body {
	background: transparent;
} 

html { 
  background: url('../images/public/Background-FullScreen.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box {
	margin-top: 50px;
	width: 421px;
	background: rgba(255, 255, 255, 0.1);
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
}
.field-40 {
	height: 40px !important;
	width: 321px !important;
	background-color: #e0f1f9;
	border: none;
	margin-bottom: 10px;
}
.field-40:focus{
	color: #979797;
	border: 1px solid #cfd1d2;
}

.button-confirm {
	height: 40px !important;
	width: 118px;
	background-color: #1abc9c;
	font-family: Myriad Pro;
	border: none;
}
.button-confirm:hover, .button-confirm:focus {
	background: rgba(26, 188, 156, 0.7);
	border: none;
}

.btn-top-margin {
	margin-top: 5px;
}

.row-login {
	width: 370px;
	margin-bottom: 20px;
	color: white !important;
	margin-top: 20px;
}

.text-left {
	text-align: left;
}

.row-links-login {
	width: 360px;
}
.row-links-login a {
	color: white !important;
}

.custom-button-size {
	height: 40px !important;
	width: 40px !important;
}

.no-border {
	border: none;
	border-radius: 0px !important;
}

.text-forgot-password {
	text-align: right;
	padding-right: 27px;	
}
.text-or {
	margin-top: 10px;
}
.margin-top-5 {
	margin-top: 5px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-10 {
	margin-top: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}

.margin-left-30 {
	margin-left: 30px;
}
.label-forgot {
	margin-bottom: 20px;
}

.custom-error {
	margin-bottom: 10px;
}