<div class="box">
	<div class="center span4">
		<h3 class="label-forgot">Cadastre sua nova senha</h3>
		<form method="post" action="doChangePassword" accept-charset="UTF-8"
			onsubmit="return validateSubmit()">
			<div>
				<input type="password" id="password" class="form-control field-40"
					name="password" placeholder="Nova Senha" />
			</div>
			<div>
				<input type="password" id="confirmPassword"
					class="form-control field-40" name="confirmPassword"
					placeholder="Confirmar Senha" />
			</div>
			<button type="submit" name="submit"
				class="btn btn-primary button-confirm margin-top-25">Enviar</button>
			<div class="row row-links-login margin-top-25 text-left">
				<div class="col-md-6">
					<a href="login?redirect"><img class="margin-right-10" src="images/public/Icon-back-login.png">Voltar Para o Login</a>
				</div>
			</div>
		</form>
	</div>
</div>