<div class="box">
	<div class="center span4">
		<h3 class="label-forgot">
			Esqueceu a Senha?
			</h4>
			<h5 class="label-forgot">
				Basta digitar a senha que você se inscreveu<br /> e nós vamos
				deixar você redefini-la
			</h5>
			<form method="post" action="doforgotpassword" id="formForgotPassword"
				accept-charset="UTF-8">
				<div class="registerField">
					<input type="text" class="form-control field-40" id="email"
						name="email" placeholder="E-Mail">
				</div>
			</form>
			<button type="button" class="btn btn-primary button-confirm margin-top-25"
				id="btnResetPassword">Resetar</button>
			<div class="row row-links-login margin-top-25 text-left">
				<div class="col-md-6">
					<a href="login?redirect"><img class="margin-right-10" src="images/public/Icon-back-login.png">Voltar Para o Login</a>
				</div>
			</div>
	</div>
</div>