<div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label" for="stomachSurgeryContainer">${consultation.doFisicalActivities}</label>
				<div id="doFisicalActivitiesContainer"
					data-name="lifeHabit.doFisicalActivities"></div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="form-group">
				<label class="control-label" for="fisicalActivitiesFrequency">${consultation.fisicalActivitiesFrequency}</label>
				<input type="text" class="form-control"
					id="fisicalActivitiesFrequency"
					name="lifeHabit.fisicalActivitiesFrequency" maxlength="40"
					placeholder="${consultation.placeholder.fisicalActivitiesFrequency}">
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label" for="trainingTime">${consultation.trainingTime}</label>
				<input type="text" class="form-control" id="trainingTime"
					name="lifeHabit.trainingTime" maxlength="40"
					placeholder="${consultation.placeholder.trainingTime}">
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label" for="nightHoursSleeping">${consultation.nightHoursSleeping}</label>
				<input type="text" data-type="Decimal" class="form-control decimal" id="nightHoursSleeping"
					data-name="lifeHabit.nightHoursSleeping">
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label class="control-label" for="smokeContainer">${consultation.smoke}</label>
				<div id="smokeContainer"
					data-name="lifeHabit.smoke"></div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group">
				<label class="control-label" for="drinkTypeContainer">${consultation.drink}</label>
				<div id="drinkContainer"
					data-name="lifeHabit.drink"></div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label" for="litersOfWaterPerDay">${consultation.litersOfWaterPerDay}</label>
				<input type="text" data-type="Decimal" class="form-control decimal" id="litersOfWaterPerDay"
					data-name="lifeHabit.litersOfWaterPerDay">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group step2">
				<label class="control-label" for="anxietyTypeContainer">${consultation.anxietyType}</label>
				<div id="anxietyTypeContainer" data-name="lifeHabit.anxietyType"></div>
			</div>
		</div>
		
	
	</div>


</div>
