<div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="energyFoods">${consultation.energyFoods}</label>
				<input type="text" class="form-control" id="energyFoods"
					name="eatingHabit.energyFoods" maxlength="255"
					placeholder="${consultation.placeholder.energyFoods}">
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="mostHungryTime">${consultation.mostHungryTime}</label>
				<input type="text" class="form-control" id="mostHungryTime"
					name="eatingHabit.mostHungryTime" maxlength="255"
					placeholder="${consultation.placeholder.mostHungryTime}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="hungryTimeFood">${consultation.hungryTimeFood}</label>
				<input type="text" class="form-control" id="trainingTime"
					name="eatingHabit.hungryTimeFood" maxlength="255"
					placeholder="${consultation.placeholder.hungryTimeFood}">
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="notLikeFood">${consultation.notLikeFood}</label>
				<input type="text" class="form-control"
					id="notLikeFood" maxlength="255" name="eatingHabit.notLikeFood">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="notRemovableFoods">${consultation.notRemovableFoods}</label>
				<input type="text" class="form-control" id="notRemovableFoods"
					maxlength="255" name="eatingHabit.notRemovableFoods">
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label" for="mostDificultyDietThing">${consultation.mostDificultyDietThing}</label>
				<input type="text" class="form-control" id="mostDificultyDietThing"
					maxlength="255" name="eatingHabit.mostDificultyDietThing">
			</div>
		</div>
	</div>
</div>
