<div class="row margin10">
	<h4 class="bluecolor">Percentuais de Gordura</h4>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-3 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor input-line-custom">Segundo Faulkner<span>:</span></span>
			<div data-name="bodyMeasure.faulknerFatPercent">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor input-line-custom">Segundo Guedes<span>:</span></span>
			<div data-name="bodyMeasure.guedesFatPercent">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor input-line-custom">Segundo Jackson Pollo<span>:</span></span>
			<div data-name="bodyMeasure.jacksonPolloFatPercent">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor input-line-custom">Segundo Durnin Womers<span>:</span></span>
			<div data-name="bodyMeasure.durninWomersleyFatPercent">a</div>
		</div>
	</div>
</div>
