<div class="row">
	<div class="col-md-7">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.nutritionistUser}<span>:</span></span>
			<div data-name="consultation.userNutritionist">a</div>
		</div>
	</div>

	<div class="col-md-5">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.consultDate}<span>:</span></span>
			<div data-name="consultation.consultDate">a</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.howKnewMyWork}<span>:</span></span>
			<div data-name="consultation.howKnewMyWork">a</div>
		</div>
	</div>

	<div class="col-md-5 hide">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.consultDate}<span>:</span></span>
			<div data-name="consultation.consultDate">a</div>
		</div>
	</div>
</div>