<div class="row margin10">
	<h4 class="bluecolor">Medidas Corporais</h4>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-3 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.weight}<span>:</span></span>
			<div data-name="bodyMeasure.weight">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.height}<span>:</span></span>
			<div data-name="bodyMeasure.height">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.bendingTriceps}<span>:</span></span>
			<div data-name="bodyMeasure.bendingTriceps">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.bendingBack}<span>:</span></span>
			<div data-name="bodyMeasure.bendingBack">a</div>
		</div>
	</div>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-3 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.bendingBiceps}<span>:</span></span>
			<div data-name="bodyMeasure.bendingBiceps">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.foldBelt}<span>:</span></span>
			<div data-name="bodyMeasure.foldBelth">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.abdominalTuck}<span>:</span></span>
			<div data-name="bodyMeasure.abdominalTuck">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.bendingThigh}<span>:</span></span>
			<div data-name="bodyMeasure.bendingThigh">a</div>
		</div>
	</div>

</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-3 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.axillaryFold}<span>:</span></span>
			<div data-name="bodyMeasure.axillaryFold">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.pectoralFold}<span>:</span></span>
			<div data-name="bodyMeasure.pectoralFold">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.leftArmContracted}<span>:</span></span>
			<div data-name="bodyMeasure.leftArmContracted">a</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.rightArmContracted}<span>:</span></span>
			<div data-name="bodyMeasure.rightArmContracted">a</div>
		</div>
	</div>

</div>

<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-3 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.chestCircumference}<span>:</span></span>
			<div data-name="bodyMeasure.chestCircumference">a</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.weistCircumference}<span>:</span></span>
			<div data-name="bodyMeasure.weistCircumference">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.abdomenCircumference}<span>:</span></span>
			<div data-name="bodyMeasure.abdomenCircumference">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.rightThighCircumference}<span>:</span></span>
			<div data-name="bodyMeasure.rightThighCircumference">a</div>
		</div>
	</div>

</div>

<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-3 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.leftThighCircumference}<span>:</span></span>
			<div data-name="bodyMeasure.leftThighCircumference">a</div>
		</div>
	</div>
	<div class="col-md-3 ">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.rightCalfCircumference}<span>:</span></span>
			<div data-name="bodyMeasure.rightCalfCircumference">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bodyMeasure.leftCalfCircumference}<span>:</span></span>
			<div data-name="bodyMeasure.leftCalfCircumference">a</div>
		</div>
	</div>
</div>
