<div class="row margin10">
	<h4 class="bluecolor">Fotos</h4>
</div>
<div class="row padding-right-0 margin10">
	<div class="col-md-3 padding-20">
		<label class="bluecolor text-center label-picture">Perfil
			Frente</label> <img id="frontPicture" height="auto" width="100%"
			class="avatar-image " src="data:image/png;base64," />
	</div>
	<div class="col-md-3 padding-20">
		<label class="bluecolor text-center label-picture">Perfil
			Costas</label> <img id="backPicture" height="auto" width="100%"
			class="avatar-image" src="data:image/png;base64," />
	</div>
	<div class="col-md-3 padding-20">
		<label class="bluecolor text-center label-picture">Perfil
			Esquerda</label> <img id="leftPicture" height="auto" width="100%"
			class="avatar-image " src="data:image/png;base64," />
	</div>
	<div class="col-md-3 padding-20">
		<label class="bluecolor text-center label-picture">Perfil
			Direita</label> <img id="rightPicture" height="auto" width="100%"
			class="avatar-image " src="data:image/png;base64," />
	</div>
</div>
