<div class="row margin10">
	<h4 class="bluecolor">Hábitos de Vida</h4>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-4 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.doFisicalActivities}<span>:</span></span>
			<div data-name="lifeHabit.doFisicalActivities">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.fisicalActivitiesFrequency}<span>:</span></span>
			<div data-name="lifeHabit.fisicalActivitiesFrequency">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.trainingTime}<span>:</span></span>
			<div data-name="lifeHabit.trainingTime">a</div>
		</div>
	</div>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-4 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.nightHoursSleeping}<span>:</span></span>
			<div data-name="lifeHabit.nightHoursSleeping">a</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.smoke}<span>:</span></span>
			<div data-name="lifeHabit.smoke">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.drink}<span>:</span></span>
			<div data-name="lifeHabit.drink">a</div>
		</div>
	</div>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-4 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.litersOfWaterPerDay}<span>:</span>
			</span>
			<div data-name="lifeHabit.litersOfWaterPerDay">a</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.anxietyType}<span>:</span></span>
			<div data-name="lifeHabit.anxietyType">a</div>
		</div>
	</div>
</div>
