<div class="row margin10">
	<h4 class="bluecolor">Dados Clínicos</h4>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-4 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.diseasesInTreatment}<span>:</span></span>
			<div data-name="clinicalData.diseasesInTreatment">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.medicationsInUse}<span>:</span></span>
			<div data-name="clinicalData.medicationsInUse">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.didStomachSurgery}<span>:</span></span>
			<div data-name="clinicalData.didStomachSurgery">a</div>
		</div>
	</div>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-4 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor input-line-custom">Fez
				outras terapias (fisioterapia, etc)?<span>:</span>
			</span>
			<div data-name="clinicalData.didTherapy">a</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.intestineFrequencyType}<span>:</span></span>
			<div data-name="clinicalData.intestineFrequencyType">a</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.bloodType}<span>:</span></span>
			<div data-name="clinicalData.bloodType">a</div>
		</div>
	</div>
</div>
<div class="row margin-bottom-25 margin-left-15">
	<div class="col-md-4 padding-left-0 margin-left-0">
		<div class="input-group">
			<span
				class="input-group-addon bluecolor translate-mix input-line-custom">${consultation.lastTypeDidBloodExam}<span>:</span>
			</span>
			<div data-name="clinicalData.lastTypeDidBloodExam">a</div>
		</div>
	</div>
</div>
