<div class="navbar navbar-default" id="userProfilePanel"></div>

<div class="navbar navbar-default tab1" id="objectivePanel"></div>

<div class="navbar navbar-default tab1" id="clinicalPanel"></div>

<div class="navbar navbar-default tab1" id="lifeHabitPanel"></div>

<div class="navbar navbar-default tab1" id="eatingHabitPanel"></div>

<div class="navbar navbar-default tab2 hide" id="bodyMeasuresPanel">

</div>

<div class="navbar navbar-default tab2 hide" id="picturesPanel"></div>

<div class="hide" id="printContainer">
	
</div>

<div class="navbar">
	<button type="button" id="btnTab1" tabindex="-1"
		class="btn btn-secondary hide" style="float: left">${back}</button>
	<button type="button" id="btnTab2"
		class="btn btn-success margin-left-10 stepNext" style="float: right">${next}</button>
	<button type="button" id="btnPrint" tabindex="-1"
		class="btn btn-default" style="float: right">Imprimir</button>
</div>
