<div class="row ">
	<div class="center span4" style="width: 400px">
		<legend>${login.form.pleaseDoLogin}</legend>
		<form method="post" action="dologin" accept-charset="UTF-8">
			<div class="input-group">
				<span class="input-group-addon">${login.form.username}</span> <input type="text"
					id="username" class="form-control" name="username"
					placeholder="Username" />
			</div>
			</br>
			<div class="input-group">
				<span class="input-group-addon">${login.form.password}</span> <input
					type="password" id="password" class="form-control" name="password"
					placeholder="Password" />
			</div>
			</br>
			<button type="submit" name="submit" class="btn btn-primary btn-block">${login.form.signin}</button>
		</form>
	</div>
</div>