
<div class="center span4">
	<form method="post" action="docreateaccount" id="formCreateAccount"
		accept-charset="UTF-8">
		<div class="registerField">
			<input type="text" class="form-control field-40" id="name"
				name="name" placeholder="Nome Completo">
		</div>
		<div class="registerField">
			<input type="text" class="form-control field-40" id="email"
				name="email" placeholder="E-Mail">
		</div>

		<div class="registerField">
			<input type="password" class="form-control field-40"
				id="registerPassword" name="password" placeholder="Senha">
		</div>
		<div class="registerField">
			<input type="password" class="form-control field-40"
				id="confirmPassword" placeholder="Confirmar Senha">
		</div>
	</form>
	<button type="button"
		class="btn btn-primary button-confirm margin-top-25"
		id="btnCreateAccount">Criar Conta</button>
	<div class="row row-links-login margin-top-25">
		<a href="login?redirect">Já tenho uma Conta? Entrar</a>
	</div>
</div>
