<div class="modal" id="modalFeaturePresentation" tabindex="-1"
	role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Apresentação</h4>
			</div>
			<div class="modal-body">
				<div class="featurePressentationItem">
					<div class="row"><h5 class="labelFeature margin-left-10">Essa funcionalidade permite você criar vários modelos de contratos</h5></div>
					<div class="row">
						<img width="500" height="auto"
							src="https://s3-sa-east-1.amazonaws.com/static.civilctrl.com/presentations/contract-model/presentation1.png">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Pular Apresentação</button>
				<button type="button" class="btn btn-secondary" id="btnNextFinish">Próximo</button>
			</div>
		</div>
	</div>
</div>