<div class="row">
	<div class="col-md-12">
		<nav>
			<ul class="pagination" style="margin : 0px">
				<li><a href="javascript:;" class="backButton btnFirst disabled"><span class="glyphicon glyphicon-step-backward"></span>Início</a></li>
				<li><a href="javascript:;" class="backButton btnPrevious disabled"><span class="glyphicon glyphicon-chevron-left"></span>Anterior</a></li>
				<li><a class="currentPageOfTotal">Página 1 de 10</a></li>
				<li><a class="nextButton btnNext" href="javascript:;">Próximo<span class="glyphicon glyphicon-chevron-right"></span></a></li>
				<li><a class="nextButton btnLast" href="javascript:;">Último<span class="glyphicon glyphicon-step-forward"></span></a></li>
				<li><a>Total de <span class="totalItens">130</span> itens</a></li>
			</ul>
		</nav>
	</div>
</div>