.autocomplete-item:hover {
	cursor: pointer;
}
div.tagsinput {
	background: #FFF;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px;
	font-size: 14px !important;
   	margin: 0;
   	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
 
div.tagsinput.focus {
   border-color: #66AFE9;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
   outline: 0 none;
}

.has-error .tagsinput {
	border-color: #a94442;
}

.has-error .tagsinput.focus {
   border-color: #a94442;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
   outline: 0 none;
}

div.tagsinput span.tag {
	border: 0.1em solid #008ed6;
    border-radius: 0px;
	display: block;
	float: left;
	padding: 6px;
	text-decoration: none;
	background: #eff1f6;
	margin-right: 5px;
}
.tag span {
	margin-right: 5px;
}
.tag button {
	font-size: 14px;
	margin-left: 5px;
	opacity : .5;
	padding-top: 3px;
}
div.tagsinput span.tag a {
	font-weight: bold;
	color: #82ad2b;
	text-decoration: none;
	font-size: 11px;
}

div.tagsinput input {
	margin: 0px;
	font-family: helvetica;
	font-size: 13px;
	border: 1px solid transparent;
	padding: 5px;
	background: transparent;
	color: #000;
	outline: 0px;
	margin-right: 5px;
}

div.tagsinput div {
	display: block;
	float: left;
}

.tags_clear {
	clear: both;
	width: 100%;
	height: 0px;
}

.tagsinput[disabled], .tagsinput input[disabled]  {
	cursor: not-allowed;
	background-color: #eee
}