<div>
	<header class="top-bar">
		<div class="left">
			<i class="fa fa-weixin"></i>
			<h1 class="chatName">Hangouts</h1>
		</div>

		<div class="right">
			<span class="icon typicons-minus" style="cursor: pointer"><i
				class="fa fa-minus"></i></span> <span class="icon typicons-times"><i
				class="fa fa-times closeChat"></i></span>
		</div>
	</header>
	<div class="chat-item-top-actions">
		<a href="javascript:;" class="linkHistory">History</a>
	</div>
	<div class="discussion"></div>
</div>
<!-- feed -->
<div class="messageboxNew">
	<textarea class="messageArea"></textarea>
</div>
