<div>
	<h3>Account Management</h3>

	<div class="panel panel-info">
		<div class="panel-heading">Account details</div>
		<div class="panel-body"></div>
	</div>

	<button class="btn btn-primary" id="userButton">
		<span class="glyphicon glyphicon-user"></span> Users
	</button>

	<button class="btn btn-primary" id="patientsButton">
		<span class="glyphicon glyphicon-heart"></span> Patients
	</button>

	<button class="btn btn-primary disabled" id="paymentPlanButton">
		<span class="glyphicon glyphicon-euro"></span> Plans And Payment
	</button>
</div>