<div>
	<div class="input-group">
		<span class="input-group-addon">Nutritionist Name</span> <input type="text"
			class="form-control" name="user.name" placeholder="${account.placeholder.companyName}">
	</div>
	<br />
	<div class="input-group">
		<span class="input-group-addon">Email</span> <input type="text"
			class="form-control" name="user.email" placeholder="${account.placeholder.companyName}">
	</div>
	<br />
	
	<div class="input-group">
		<span class="input-group-addon">Password</span> <input type="password"
			class="form-control" name="user.password">
	</div>
	<br />
	
	<div class="input-group">
		<span class="input-group-addon">Confirm Password</span> <input type="password"
			class="form-control">
	</div>
	<br />
</div>